.noexisteDatos{
    margin-top: 30%;
    height: 50px;
    text-align: center;
   
}

.head-example {
    width: 42px;
    height: 42px;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    
  }
  