<ion-header>
  <ion-toolbar>
    <ion-title>INFORMACIÓN DESARROLLADOR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src="../../../assets/transporte.png"  />
    <ion-card-header>
      <ion-card-title>INSPECTOR DE TRASNPORTE</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row >
        <ion-col size="6" >
          <ion-label style="font-size: 16px; ">Desarrollado Por:</ion-label>
          <br>
          <ion-label style="font-size: 16px; ">Versión:</ion-label>
          <br>
          <ion-label style="font-size: 16px; ">Email:</ion-label>
          <br>
          <ion-label style="font-size: 16px; ">Contacto:</ion-label>

        </ion-col >
        <ion-col size="6" >
          <ion-badge style="font-size: 10px;  " color="primary">JHON</ion-badge>      
          <br>  
          <ion-badge style="font-size: 10px;  " color="primary">1.0</ion-badge>  
          <br>   
          <ion-badge style="font-size: 10px;  " color="primary">JHON@GMAIL.COM</ion-badge> 
          <br>    
          <ion-badge style="font-size: 10px;  " color="primary">0987654321</ion-badge>     
        </ion-col>
      </ion-row>

    </ion-card-content>
  </ion-card>

  
</ion-content>
