
<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="rutas">
      <ion-icon name="car"></ion-icon>
      <ion-label>Rutas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="horarios">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Horarios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reportes">
      <ion-icon name="document"></ion-icon>
      <ion-label>Reportes</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="acercade">
      <ion-icon name="help-circle-outline"></ion-icon>
      <ion-label>Acerca De</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>

